<h1 mat-dialog-title>Agregar nuevo usuario</h1>
<div mat-dialog-content>
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="create-user-card">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombres" formControlName="name">
              <mat-error *ngIf="form.controls['name'].hasError('required')">
                Nombres requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Apellidos" formControlName="lastname">
              <mat-error *ngIf="form.controls['lastname'].hasError('required')">
                Apellidos requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Identificación" formControlName="identification">
              <mat-error *ngIf="form.controls['identification'].hasError('required')">
                Identificación requerida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Rol asociado" formControlName="role">
              <mat-error *ngIf="form.controls['role'].hasError('required')">
                Rol asociado requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Estado" formControlName="status">
              <mat-error *ngIf="form.controls['status'].hasError('required')">
                Estado requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Contraseña" formControlName="password">
              <mat-error *ngIf="form.controls['password'].hasError('required')">
                Contraseña Requerida
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Teléfono" formControlName="phone">
              <mat-error *ngIf="form.controls['phone'].hasError('required')">
                Telefóno requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="email" placeholder="Correo Electrónico" formControlName="email">
              <mat-error *ngIf="form.controls['email'].hasError('required')">
                Correo Electrónico requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>
